<% provide(:title, @rockhound.name) %>
<% provide(:button_text, "Save Changes") %>
<h1>Update Your Info</h1>

<%= render '/partials/form', rockhound: @rockhound %>

<%= link_to 'Show', @rockhound %> |
<%= link_to 'Back', rockhounds_path %>
